*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}

html,body{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
}
#app{
    padding: 15px;
    width: 100%;
    height:-moz-calc(100% - 100px);
    height:-webkit-calc(100% - 100px);
    height: calc(100% - 100px);
    overflow: auto;
    position: relative;
}
.navbar-default{
    background: #3174cf;
}
.navbar{
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: #fff;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
@media (min-width: 768px) {
    .navbar-nav{
        margin-left: 50px;
    }
    .create_customer{
        margin-top:100px;
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
    background: #244770;
}
.create_customer{
    padding:50px 30px;
    border-radius:5px;
    background:#eee
}
#footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #818181;
}
.box-center{
    /* display */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-box;
    display: box;
    /* box-pack */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -o-box-pack: center;
    box-pack: center;

    /* box-align */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -o-box-align: center;
    box-align: center;
}


.mask{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.mask img{
    background: #fff;
    padding: 10px;
    border-radius: 100%;
}
.mask_mask{
    width: 100%;
    height: 100%;
}
.text-overflow{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.red{
    color: #ff0000;
}
.none{
    display: none;
    margin: 8px 0;
}





@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
textarea{
    resize: none;
}
table tr td{
    vertical-align: middle!important;
}
.input-group-addon{
    background: #337ab7!important;
    color: #fff;
    border-color: #2e6da4;
}
#create_offer .col-sm-3{
    line-height: 34px;
}
#create_offer>div{
    margin-bottom: 10px;
}
#offer_list .isTrue{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #72ce0d;
    margin-top: 3px;
}
#offer_list th{
    text-align: center;
}
#offer_list  img{
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
}
#home {
    margin-top: 10px;
}
#bind_list>div{
    margin-bottom: 10px;
}

.report_report{
    margin: 0;
    border: 1px solid #9b9b9b;
}
.report_weidu{
    border: 1px solid #ccc;
    border-radius: 4px;
}
.report_weidu li{
    cursor:pointer;
    line-height: 34px;
    list-style: none;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    border-right: 1px solid #ccc;
}
.report_weidu li:last-child{
    border-right: none;
}
.report_weidu li.active,.report_zhexian ul li.active{
    background: #498def;
    color: #fff;
}
.report_zhexian{
    margin-top: 15px;
}
.report_zhexian ul{

}
.report_zhexian ul li{
    cursor: pointer;
    float: left;
    padding: 0 20px;
    line-height: 34px;
    list-style: none;
    border-radius: 4px;
    text-align: center;
}
@media (max-width: 768px) {
    .report_zhexian ul li{
        width: 50%;
    }
    .report_overflow{
        overflow: auto;
    }
    #report_zhexian{
        width: 100%;
        height: 300px;
        min-width: 1000px;
        overflow: auto;
    }
}
#report_zhexian{
    width: 100%;
    height: 300px;
    overflow:hidden;
}
.dashboard_data{
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    background: rgba(0,0,0,0.5);
}
.dashboard_data .box_20{
    width: 10%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.dashboard_data .box_20 span.green{
    color: #4285f4;
}
.dashboard_data .box_20 p:nth-child(2){
    font-size: 24px;
}
.dashboard_data .box_20 span.yellow{
    color:#f3d042;
}
@media (max-width: 768px) {
    .dashboard_data .box_20{
        width: 50%;
        float: left;
    }
}
